
$step--2: clamp(1.09rem, calc(0.62rem + 2.32vw), 3.52rem);
$step--1: clamp(1.30rem, calc(0.71rem + 2.95vw), 4.40rem);
$step-0: clamp(1.56rem, calc(0.81rem + 3.75vw), 5.50rem);
$step-1: clamp(1.88rem, calc(0.92rem + 4.76vw), 6.88rem);
$step-2: clamp(2.25rem, calc(1.04rem + 6.04vw), 8.59rem);
$step-3: clamp(2.70rem, calc(1.17rem + 7.66vw), 10.74rem);
$step-4: clamp(3.24rem, calc(1.30rem + 9.70vw), 13.43rem);
$step-5: clamp(3.89rem, calc(1.43rem + 12.28vw), 16.78rem);
$step--4: clamp(0.75rem, calc(0.47rem + 1.43vw), 2.25rem);